.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.calculate{
    margin: 10px;
}

.text{
    margin: 10px;
    font-size: 25px;
    

}